<article class="card post_card animate__animated animate__fadeInUp mt-1">
  <div class="card_image">
    <img src="{{this.image}}" class="card-img" alt="post image" />
    <a class="category-link"><span class="badge bg-info">{{this.category}}</span></a>
  </div>
  <div class="card-body p-4">
    <h3 class="mb-0">{{this.title}}</h3>
    <p class="mb-2 text-muted">Publicado el {{formatDate this.updatedAt}} por {{this.user}}</p>
    <div class="mb-2">
      <!-- {{{this.shortBody}}}... -->
      {{{shortenBody this.body}}}
    </div>
    <div class="d-flex">
      <a href="/posts/{{this.slug}}" class="card-link link-primary ms-auto">Leer más</a>
    </div>
  </div>
</article>