<div class="container animate__animated animate__fadeInUp">
  <h1 class="page-title">{{post.title}}</h1>
  <div class="post-header py-2">
    <div class="post-image">
      <img src="/uploads/{{post.image}}" alt="post image" />
      <a class="category-link"><span class="badge bg-info">{{post.category}}</span></a>
    </div>
    <p class="mb-2 text-muted">Publicado el {{post.updatedAt}} por {{post.user}}</p>
  </div>
  <div class="post-content">
    {{{post.body}}}
  </div>
  {{#if user}}
  <div class="comment-section my-5">
    <h5 class="section-title">Deja un comentario</h5>
    <form action="POST" class="comment-form">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="email"
          class="form-control"
          id="name"
          name="name"
          placeholder="Escribre tu nombre" disabled="" value={{userName}}
        />
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Mensaje</label>
        <textarea
          class="form-control"
          id="comment"
          name="comment"
          rows="3"
        ></textarea>
      </div>
      <button type="button" class="btn btn-warning">Enviar</button>
    </form>
  </div>
  {{/if}}
</div>