<div class="container animate__animated animate__fadeInUp">
  <h1 class="page-title">{{post.title}}</h1>
  <div class="row">
    <div class="col-md-9">
        <div class="post-header py-2">
            <div class="card_image">
                <img src="{{post.image}}" class="card-img-top" alt="post image">
            </div>
            <strong class="d-inline-block mb-2">{{post.category}}</strong>
            <p class="mb-2 text-muted">{{post.userName}} - {{post.updatedAt}}</p>
        </div>
        <div class="post-content">
            <p class="mb-2">{{post.body}}</p>
        </div>
        <div class="post-tags border-bottom pb-5">
            <a href="#!" class="btn btn-outline-secondary m-1">Tag 1</a>
            <a href="#!" class="btn btn-outline-secondary m-1">Tag 2</a>
        </div>
        <div class="comment-section my-5">
            <h5 class="section-title">Deja un comentario</h5>
            <form action="POST" class="comment-form">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="email" class="form-control" id="name" name="name" placeholder="Escribre tu nombre">
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-warning">Enviar</button> 
            </form>
        </div>
    </div>
    <div class="col-md-3">
      <div class="border-bottom pb-3">
        <h5>Tags</h5>
        <a href="#!" class="btn btn-outline-secondary m-1">Tag 1</a>
        <a href="#!" class="btn btn-outline-secondary m-1">Tag 2</a>
        <a href="#!" class="btn btn-outline-secondary m-1">Tag 3</a>
        <a href="#!" class="btn btn-outline-secondary m-1">Tag 4</a>
      </div>
      <div class="border-bottom py-3">
        <h5>Categories</h5>
          <ul>
            <li><a class="text-decoration-none" href="#!">aaaa</a></li>
            <li><a class="text-decoration-none" href="#!">bbbb</a></li>
            <li><a class="text-decoration-none" href="#!">cccc</a></li>
            <li><a class="text-decoration-none" href="#!">dddd</a></li>
            <li><a class="text-decoration-none" href="#!">eeee</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>